<app>	
	<permissions default="_NO_ACCESS_" logged="_SELF_WRITE_" />

	<load class="AnyCharArgument"	file="../arguments/anycharargument.class.php" />
	<load class="NumberArgument"	file="../arguments/numberargument.class.php" />
	<load class="NetJobs"			file="class/NetJobs.class.php" />
	<load class="NJElement"			file="class/NJElement.class.php" />
	<load class="NJJob"				file="class/NJJob.class.php" />
	<load class="NJCompany"			file="class/NJCompany.class.php" />

	<load class="NJMenu"				file="netjobsmenu.class.php" />
	<load class="NJDefault"			file="default.class.php" />
	<load class="NJJobDetails"		file="jobdetails.class.php" />
	<load class="NJJobEdit"			file="jobedit.class.php" />
	<load class="NJJobSave"			file="jobsave.class.php" />
	<load class="NJJobList"			file="joblist.class.php" />
	<load class="NJCompanyDetails"	file="companydetails.class.php" />
	<load class="NJCompanyEdit"		file="companyedit.class.php" />
	<load class="NJCompanySave"		file="companysave.class.php" />

	<header app="header" view="default" />
	<footer app="footer" view="default" />

	<view name="menu"			class="NJMenu"				template="menu.tpl" />
	<view name="default"		class="NJDefault"			template="default.tpl" />
	<view name="jobdetails"		class="NJJobDetails"		template="jobdetails.tpl" />
	<view name="jobedit"		class="NJJobEdit"			template="jobedit.tpl" />
	<view name="joblist"		class="NJJobList"			template="joblist.tpl" />
	<view name="companydetails"	class="NJCompanyDetails"	template="companydetails.tpl" />
	<view name="companyedit"	class="NJCompanyEdit"		template="companyedit.tpl" />

	<page view="default" />
	<page name="jobdetails"	view="jobdetails">
		<argument name="jobid" class="NumberArgument" />
	</page>	<page name="jobedit"		view="jobedit">
		<option name="jobid" class="NumberArgument" />
	</page>
	
	<page name="joblist"		view="joblist">
		<option name="maxjobs"	class="NumberArgument" />
		<option name="pageid"		class="NumberArgument" />
	</page>

	<page name="companydetails"	view="companydetails">
		<argument name="companyid"	class="NumberArgument" />
	</page>
	<page name="companyedit"	view="companyedit">
<option name="companyid"	class="NumberArgument" />
<option name="jobid" 		class="NumberArgument" />
	</page>

	<form action="jobsave"	class="NJJobSave">
		<redirect />
	</form>
	<form action="companysave"	class="NJCompanySave">
		<redirect />
	</form>

</app>