<?xml version="1.0" encoding="UTF-8" ?>
<app>
	<permissions default="_READ_ONLY_" logged="_SELF_WRITE_" />

	<load class="FooterModel" file="footermodel.class.php" />
	<view name="default" class="FooterModel" template="footer.tpl" />
        <view name="minimal" class="FooterModel" template="minimal.tpl" />
</app>
