/*****************/
/*	Appli News    */
/*****************/

/*
	MENU
*/

#news {
	width: 510px;
}

.aNews {
	border: 1px solid #aaaaaa;
	padding: 0px;
	margin: 5px;
}

.aNews .time {
	float: right;
	
	padding: 4px;
	
	font-style: italic;
	
	text-align: right;

	background: #efefef;
}

.aNews h1 {
	width: 493px;

	margin: 0px;
	padding: 4px 0px 4px 5px;

	background: #efefef;

	font-size: 18px;
	font-weight: bold;
}

.aNews .author {
	float: right;
	
	padding: 0px 10px 5px 10px;
	margin: 0px 0px 5px 5px;
	
	text-align: right;

	background: #efefef;
}

.aNews .content {
	padding: 5px 5px 2px 5px;
}

.aNews .commentsHidden {
	padding: 4px 0px 4px 0px;
	margin: 0px;
	
	text-align: center;

	background: #efefef;
}

.aNews .commentsShowed {
	padding: 4px 0px 4px 0px;
	margin: 0px;
	
	text-align: center;

	background: #efefef;
}

.aNews form .controls {
	width: 100%;
	font-size: 70%;
	margin: 3px;
}

.aNews form .controls a {
	color: #aaaaaa;
}

.aNews .controls form input {
	float: right;
	color: #555577;
	background: #eeeeff;
	border: 1px solid #665577;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	font-size: 8px;
}
/* New News Form */
.newNewsForm {
	border: 1px solid #aaaaaa;
	padding: 0px;
	margin: 5px;
}

.newNewsForm h1 {
	width: 493px;

	margin: 0px;
	padding: 4px 0px 4px 5px;

	background: #efefef;

	font-size: 18px;
	font-weight: bold;
}

.newNewsForm form {
	padding: 5px 5px 2px 5px;
}

/* New News Comment Form */
.newNewsCommentForm {
	margin: 20px;
	
	border: 1px solid #000000;
}

.newNewsCommentForm .title {

	background: #efefef;
	
	font-size: 14px;
	font-weight: bold;
}

/* aComment */
.aComment {
	border: 1px dashed #acacac;
	margin: 5px;
	padding: 3px;
}

.aComment .title {
	font-weight: bold;
}

.aComment .content {
	font-style: italic;
}

.aComment .author {
	float: right;
	background: transparent;
	font-size: 80%;
}

.aComment .time {
	float: none;
	text-align: left;
	color: #acacac;
	background: transparent;
	margin: 0px;
	padding: 0px;
}

.aComment .controls {
	float: right;
	font-size: 70%;
	margin: 0px;
}

.aComment .controls a {
	color: #aaaaaa;
}

.clear {
		clear: both;
		border: 0px;
		margin: 0px;
		padding: 0px;
		background: transparent;
}