@import 'framework.css';
@import 'stage.css';
@import 'applinews.css';
@import 'annuaire.css';
@import 'mail.css';

body {
	margin:0px;			
	font-size:11px;	
	font-family:Sans-serif;
}

/*******************
	MENU DU HAUT
*******************/

#menuHaut {
	width:100%;
	height:17px;
	font-size:11px;
	color:#ffffff;
	border-bottom:1px solid;
	border-color:#000000;	
	background-color:#004060;
}

#menuHaut a, #menuHaut a:hover {
	color:#ffffff;
	font-weight:bold;
}
/*a:link a:visited a:hover a:active*/

#surnom {
	position:absolute;
	width: 180px;
	text-align: center;
}

#menujs {
	position:absolute;
	left: 200px;
}

#connectes{
	float:right;
}

#icones {
	margin-left:5px;
	float:right;	
}	

/*******************
	SIDEBAR
*******************/
#sidebar {
	float:left;
	width:180px;
	border-right:1px solid;
	min-height: 508px; /*PROBLEME DE BORDURE IDEM SITE DOFUS*/
}

#logo {
	width:180px;
	height:52px;	
	background-image: url("/themes/default/images/logodefaut.gif"); 
	border-bottom:1px solid;	
}

#login input {
	width:80px;
	border: 1px solid #999;
}
#login label {
	float: left;
	width: 60px;
	text-align: right;
}

#default_container {
	background-color: #e1fee1;
	padding: 0px;
	margin: 5px;
	width: 680px;
	min-height: 0px;
}

#delete_container {
	background-color: #fee1e1;
	padding: 0px;
	margin: 5px;
	width: 220px;
	height: 50px;
}

.delete_container .background {
	color: #fff;
	position: absolute;
	top: 5px;
	left: 60px;
	text-align: center;
	font-size: 36px;
}

.cont_scol {
	padding: 0px;
	margin: 5px;
	width: 220px;
	min-height: 50px;
}
.cont_mcol {
	padding: 0px;
	margin: 5px;
	width: 440px;
	min-height: 50px;
}
.cont_lcol {
	padding: 0px;
	margin: 5px;
	width: 690px;
	min-height: 50px;
}
.cont_xlcol {
	padding: 0px;
	margin: 5px;
	min-height: 50px;
}

.view {
	background-color: #e1e1fe;
}

.sbox {
	position: relative;
	float: left;
	margin: 5px;
	padding: 1px;
	border: 1px #eee solid;
	background-color: #fafafa;
	width: 206px;
	min-height: 50px;
}

.mbox {
	position: relative;
	float: left;
	margin: 5px;
	padding: 1px;
	border: 1px #eee solid;
	background-color: #fafafa;
	width: 426px;
	min-height: 80px;
}

.lbox {
	position: relative;
	float: left;
	margin: 5px;
	padding: 1px;
	border: 1px #eee solid;
	background-color: #fafafa;
	width: 650px;
	min-height: 80px;
}

h3 {
	text-align:center;	
}

.handle {
	background-color: #fa0;
	color: #fff;
	cursor: move;
	top: 0px;
	left: 0px;
}

.sbox h3, .mbox h3, .lbox h3 {
	cursor: move;
}

.sbox .edit {
	position: absolute;
	top: 0px;
	left: 180px;
}
.mbox .edit {
	position: absolute;
	top: 0px;
	left: 400px;
}
.lbox .edit {
	position: absolute;
	top: 0px;
	left: 620px;
}

.left {
	float: left;
}

.right {
	float: right;
}

/*******************
	CONTENU
*******************/
#contenu {
	padding: 5px;
}

/*******************
	MINI-APPS
*******************/

.mynotes{
	border: 1px solid #999;
	width: 200px;
	height: 150px;
}


/*
	FORMMESSAGES
*/
.error {
	margin: 5px;
	padding: 4px;
	
	border: 1px solid #990000;
	background: #ffeeee;

	color: #990000;
	font-style: italic;
	text-align: center;
}

.success {
	margin: 5px;
	padding: 4px;
	
	border: 1px solid #009900;
	background: #eeffee;

	color: #009900;
	font-style: italic;
	text-align: center;
}

.configbar {
	border: 1px #eee solid;
	margin: 5px;
}

.configbar img {
	border: 0px;
	vertical-align: middle;
	margin: 0px 5px 0px 5px;
}

.spacer {
	clear: both;
}