/******************/
/*	Appli stage    */
/******************/

/*
	ACCUEIL
*/
.image_accueil {
	text-align:center;
	float:right;
	width:340px;
	height:340px;	
}

/*
	MENU
*/

#stage_menu a, #stage_menu a:hover {
	text-decoration:none;
	color:#0000FF;
}

#stage_menu {
	background-color:#eeeeee;
	border-bottom:1px solid;
	height: 75px;
}


#stage_menu_liens {
	text-align:center;
	padding:5px;
}

#stage_menu_nom_rubrique {
	text-align:center;
	font-size:13px;
}

#stage_menu_nom_rubrique img{
	vertical-align:middle;
	width:32px;
	height:32px;	
}	

#stage_menu_recherche {
	float: right;
	width:150px;
	text-align:center;	
}

#stage_menu_recherche input{
	font-size:10px;
}
	

/*
	CONTENU
*/
.stage_contenu {
	margin:8px;	
}

/*
	ELEMENTS
*/
.stage_element {
	border:1px solid;
	padding:5px;
}
.stage_element_title a {
	color:#FFFFFF;
	font-size:14px;
	font-weight:bold;
}
.stage_element_title {
	color:#FFFFFF;
	font-size:14px;
	font-weight:bold;
	background-color:#004060;	
}
.stage_element_data{
	background-color:#eeeeee;	
}
.stage_element_data label{
	float:left;
	text-align:left;
	width:120px;
	background-color:#eeeeee;	
	font-style:italic;	
}		

/*
	DIVERS
*/
.stage_pages {
	text-align:left;
}
.stage_filtres {
	border:1px dashed;	
	padding:5px;
}
.stage_filtres label{
	font-size:14px;
	font-weight:bold;
}	
.stage_commentaire {
	border:1px groove;
}
.stage_commentaire texte{
	font-style:italic;
}	
.stage_commentaire_ajout {
	width:100%;	
	height:100px;		
}

/*
	FORMULAIRE
*/

.stage_form {
	font-size:11px;	
}
.stage_form ast{
	color:#FF0000;
}
.stage_form label{
	float:left;
	width:150px;
	font-size:11px;	
	font-family:Sans-serif;	
}
.stage_form input{
	width:300px;
	font-size:11px;		
	font-family:Sans-serif;	
}
.stage_form textarea{
	width:300px;
	font-size:11px;		
	font-family:Sans-serif;	
}
.stage_form select{
	width:300px;
	font-size:11px;
	font-family:Sans-serif;			
}