 body{
    margin:0;
    padding:0;
}
.yui-lightbox{
    position: fixed;
    margin: auto;
    padding: 5px;
    background: #EEF5F9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border: solid 2px #99ccff;
    text-align: center;
}

.yui-lightbox-content{
        overflow: auto;
}

.yui-lightbox-title{
    margin: 0;
    padding: auto;
    font-size: 15px;
}

.yui-lightbox-hidden{
    visibility:hidden;
    display: none;
}

.yui-lightbox-loading{
    background: url(images/loading.gif);
    height: 200px;
    width: 200px;
}

.yui-lightbox-iframe{
    border: none;
}

a.yui-lightbox-closebutton{
    display: block;
    position: absolute;
    right: -15px;
    top: -15px;
    width: 30px;
    height: 25px;

    background: #EEF5F9;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
    border-radius: 30px;
    border: solid 2px #99ccff;

    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 20px;
    color: black;

}
