/* 
    Document   : applinkshare
    Created on : 16 nov. 2009, 17:14:27
    Author     : Naouak
*/

.default2-linkshare-link {
    display: block;
}

.default2-linkshare-modify {
    position: absolute;
    display: none;
    background: #EEF5F9;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: solid 2px #99ccff;
    z-index: 100;
    padding: 2px;
}

.default2-linkshare-link:hover .default2-linkshare-modify{
    display: block;
}

.default2-linkshare-linkis{
    display: block;
}

