/* 
    Document   : appphoto
    Created on : 17 nov. 2009, 16:37:42
    Author     : Naouak
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
.photos-content div{
    margin: 5px;
    padding: 0px;
}

.photos-content h2{
    margin-bottom: 5px;
    padding: 2px;
    pading-top: 5px;
    padding-left: 10px;
    background: #EEF5F9;
    color: #323296;
    border-bottom: dotted teal 1px;
}

.photos-main-container{
    border: solid teal 1px;
}

.photos-place-list{
    display: inline-block;
}

.photos-place-list li{
    display: inline-block;
}

.photos-place-list li:after{
    content: " > ";
}

.photos-place-list li:last-child:after{
    content: "";
}

.photos-folder-add-list li{
    display: inline-block;
}

.photos-list-thumb li{
    display: inline-block;
    width: 100px;
    height: 120px;
    border: solid black 1px;
    margin: 5px;
    text-align: center;
}

.photos-list-caption{
    display: block;
    margin-top: 100px;
    line-height: 20px;
}

.photos-content .photos-index-albums{
    margin-right: 210px;
}

.photos-index-tags{
    float: right;
    width: 200px;
}

.photos-content form label,.photos-content form input{
    display: block;
    margin: 3px;
}

.photos-content form fieldset{
    padding: 5px;
    margin: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px black;
}

.photos-content form fieldset legend{
    font-weight:bold;
    font-size: larger;
}

.photos-hint{
    display: none;
}
