
	#container div.search {
		font-size: 0.9em;
	}
	#container div.search ul {
		list-style: none;
	}
	#container div.search ul li {
		margin-top: 5px;
		margin-bottom: 15px;
	}
	#container div.search ul li div.url{
		color: #008000;
		width: 90%;
		overflow: hidden;
		white-space: nowrap;
	}
	#container div.search ul li div.title, #container div.search div.goto a, #container div.search div.goto a:visited {
		font-size: 1.25em;
	}
	#container div.search div.goto a, #container div.search div.goto a:visited {
		font-weight: bold;
		color: #4e80c9;
	}
	#container div.search div.goto {
		padding: 5px;
		margin-top: 5px;
		margin-left: 10px;
		margin-bottom: 0px;
		background-color: #efefef;
		width: 97%;
		
	}
	#container div.search div.resultset {
		margin-top: 0px;
		margin-bottom: 15px;
		padding-top: 10px;
		padding-left: 10px;
		width: 98%;
	}
	#container div.search div:target {
		border: 2px solid red; 
	}
	#container div.search div.goto a {
		padding-left: 10px;
		padding-right: 10px;
	}

	#container div.search div.resultset .thumbnail {
		float:left;
		margin-left:10px;
	}
