<app>

    <permissions default="_READ_ONLY_" logged="_SELF_WRITE_" />

    <load class="Dday" file="dday.class.php" />
    <load class="DdayConfig" file="ddayconfig.class.php" />
    
    <header app="header" view="default" />
    <footer app="footer" view="default" />
    
    <view name="mini" class="Dday" template="dday.tpl" />
    <view name="miniconfig" class="DdayConfig" template="ddayconfig.tpl" />
</app>