<app>	
	<permissions default="_NO_ACCESS_" logged="_SELF_WRITE_" />

	<load class="AnyCharArgument" file="../arguments/anycharargument.class.php" />

	<load class="KDataView" file="class/kdataview.class.php" />
	<load class="KDataViewDB" file="class/kdataviewdb.class.php" />
	<load class="KDataViewRecord" file="class/kdataviewrecord.class.php" />

	<load class="KDataViewMenu" file="kdataview.class.php" />

	<load class="DVDefault" file="default.class.php" />

	<header app="header" view="default" />
	<footer app="footer" view="default" />

	<view name="menu" class="DVMenu" template="menu.tpl" />

	<view name="default" class="DVDefault" template="default.tpl" />
	<view name="list" class="DVList" template="list.tpl" />
	<view name="details" class="DVDetails" template="details.tpl" />
	
	<page view="default" />
	
	<page name="details" view="details">
		<option name="id" class="AnyCharArgument" />
	</page>

	<page name="list" view="list" />
</app>