<?xml version="1.0" encoding="UTF-8" ?>
<daemon>

	<load class="VisitorsLoad" file="visitorsload.class.php" />
        <load class="VisitorsLogout" file="visitorslogout.class.php" />

	<listen event="logout" class="VisitorsLogout" />
	<listen event="load" class="VisitorsLoad" />
	<listen event="login" class="VisitorsLoad" />

</daemon>
