<?xml version="1.0" encoding="UTF-8" ?>
<app>
	<permissions default="_NO_ACCESS_" logged="_READ_ONLY_" />

	<load class="AnyCharArgument" file="../arguments/anycharargument.class.php" />

	<load class="News"			file="../news/class/news.class.php" />
	<load class="DAOFactory"	file="class/daofactory.class.php" />
	<load class="DAOElement"	file="class/daoelement.class.php" />
	<load class="DAONews"		file="class/daonews.class.php" />
	<load class="DAOFiles"		file="class/daofiles.class.php" />
	<load class="DAOUsers"		file="class/daousers.class.php" />

	<load class="KDirectory" file="../fileshare/class/kdirectory.class.php" />
	<load class="KFile" file="../fileshare/class/kfile.class.php" />
	<load class="KDBFSElement" file="../fileshare/class/kdbfselement.class.php" />
	<load class="KDBFSElementVersion" file="../fileshare/class/kdbfselementversion.class.php" />
	<load class="KDBFSElementWriter" file="../fileshare/class/kdbfselementwriter.class.php" />
	<load class="KDBFSElementFactory" file="../fileshare/class/kdbfselementfactory.class.php" />

	<load class="wiki2xhtmlBasic" file="../wiki/wiki2xhtml.basic.class.php" />

	<load class="SearchDefault" file="default.class.php" />

	<header app="header" view="default" />
	<footer app="footer" view="default" />

	<view name="results" class="SearchDefault" template="results.tpl" />

	<page view="results">
		<header app="header" view="default" />
		<footer app="footer" view="default" />
	</page>

</app>
