<?xml version="1.0" encoding="UTF-8" ?>

<app>
	<permissions default="_NO_ACCESS_" logged="_SELF_WRITE_" />

	<load class="ChifoumiPost" file="post.class.php" />
	<load class="ChifoumiChallenge" file="challenge.class.php" />
	
	<load class="[arguments]/NumberArgument" />

	<view name="mini" template="chifoumi.tpl" />
	<view name="js" template="js.tpl" />
	<view name="challenge" class="ChifoumiChallenge" template="challenge.tpl" />
	<view name="post" class="ChifoumiPost" template="post.tpl" />
	
	<page name="challenge" view="challenge">
		<option name="weapon" class="NumberArgument" />
		<option name="id" class="NumberArgument" />
	</page>
	
	<page name="post" view="post" />
</app>
