<?xml version="1.0" encoding="UTF-8" ?>
<app>
	<header app="header" view="default" />
	<footer app="footer" view="default" />

	<permissions default="_READ_ONLY_" logged="_SELF_WRITE_" />

	<load class="CreditsDefault" file="default.class.php" />

	<view name="default" class="CreditsDefault" template="default.tpl" />

	<page view="default" />
</app>
