<?xml version="1.0" encoding="UTF-8" ?>
<app>
	<permissions default="_NO_ACCESS_" logged="_SELF_WRITE_" />

	<load class="NumberArgument" file="../arguments/numberargument.class.php" />

	<load class="FlashMailFactory" file="class/flashmailfactory.class.php" />
	<load class="FlashMail" file="class/flashmail.class.php" />

	<load class="FlashMailList" file="list.class.php" />
	<load class="UnReadFlashMailList" file="unreadlist.class.php" />
	<load class="FlashMailSend" file="send.class.php" />
	<load class="FlashMailSetAsRead" file="setasread.class.php" />
	<load class="FlashMailNothing" file="nothing.class.php" />

	<view name="default" class="FlashMailList" template="default.tpl" />

	<view name="flashmailJS" class="FlashMailNothing" template="js.tpl" />
	<view name="flashmail_head" class="FlashMailNothing" template="html_head.tpl" />
	<view name="unreadlistXML" class="UnReadFlashMailList" template="listXML.tpl" />
	<view name="setasread" class="FlashMailSetAsRead" template="empty.tpl" />

	<hook name="html_head" view="flashmail_head" />
    
	<page name="flashmailJS" view="flashmailJS">
		<header app="header" view="empty" />
		<footer app="footer" view="empty" />
	</page>
	
	<header app="header" view="default" />
	<footer app="footer" view="default" />

	<page view="default" />

	<page name="unreadlistXML" view="unreadlistXML">
		<header app="header" view="empty" />
		<footer app="footer" view="empty" />
	</page>

	<form action="setasread" class="FlashMailSetAsRead" />

	<form action="send" class="FlashMailSend" />
</app>
