<?xml version="1.0" encoding="UTF-8" ?>
<app>
	<permissions default="_NO_ACCESS_" logged="_SELF_WRITE_" />

	<!-- Load the classes needed for the application -->
	<load class="FlashMailFactory" file="class/flashmailfactory.class.php" />
	<load class="FlashMail" file="class/flashmail.class.php" />

	<load class="FlashMailList" file="list.class.php" />
	<load class="UnReadFlashMailList" file="unreadlist.class.php" />
	<load class="FlashMailSend" file="send.class.php" />
	<load class="FlashMailSetAsRead" file="setasread.class.php" />

	<!-- Display the full flashmail list on one page -->
	<view name="default" class="FlashMailList" template="default.tpl" />
	<!-- Generate the JS code for flashmails -->
	<view name="flashmailJS" template="flashmail_js.tpl" />
	<!-- Contains the hook for the <head> tag -->
	<view name="flashmail_head" template="html_head.tpl" />
	<!-- Lists the unread flashmails in XML -->
	<view name="unreadlistXML" class="UnReadFlashMailList" template="listXML.tpl" />
	
	<!-- Integrate the flashmail_head view in the html_head hook -->
	<hook name="html_head" view="flashmail_head" />
    
	
	<!-- Default header/footer/page... -->
	<header app="header" view="default" />
	<footer app="footer" view="default" />
	<page view="default" />

	<!-- The page for the JS code -->
	<page name="flashmailJS" view="flashmailJS">
		<header app="header" view="empty" />
		<footer app="footer" view="empty" />
	</page>
	
	<!-- The page for the unread flashmails in XML -->
	<page name="unreadlistXML" view="unreadlistXML" contenttype="text/xml">
		<header app="header" view="empty" />
		<footer app="footer" view="empty" />
	</page>

	<!-- The two actions : setasread and send flashmail -->
	<form action="setasread" class="FlashMailSetAsRead" />
	<form action="send" class="FlashMailSend" />
</app>
