<?xml version="1.0" encoding="UTF-8" ?>
<app>	
	<permissions default="_NO_ACCESS_" logged="_SELF_WRITE_" />

	<load class="gmailReader" file="gmailreader.class.php" />
	<load class="gmailReaderConfig" file="gmailreaderconfig.class.php" />
	<load class="gmailReaderSaveConfig" file="gmailreadersaveconfig.class.php" />	
	
	<header app="header" view="default" />
	<footer app="footer" view="default" />
	
	<view name="mini" class="gmailReader" template="minigmail.tpl" />
	<view name="miniconfig" class="gmailReaderConfig" template="gmailconfig.tpl" />

	<view name="gmail" class="gmailReader" template="gmail.tpl" />
	<view name="gmailconfig" class="gmailReaderConfig" template="gmailconfig.tpl" />
	

	<page name="" view="gmail" />
	<page name="config" view="gmailconfig" />
	
	<form action="post" class="gmailReaderSaveConfig"> 
		<redirect />
	</form>
</app>
