#container #account {
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-color: #000;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	border-bottom: 1px solid #999999;
	height: 24px;
	z-index: 4;
}
html>body #container #account {
	position: fixed;
	height: 23px;
}

#container #account .user {
	display: block;
	float: left;
	padding: 0px 20px 0px 0px;
	background-image: url(images/account/userlinker.png);
	background-repeat: no-repeat;
	background-position: right 0px;
	width: 220px;
	height: 22px;
	text-align: center;
	overflow: hidden;
}
html>body #container #account .user {
	width: 200px;
}
#container #account .user strong {
	display: block;
	padding-top: 2px;
}
#container #account ul {
	float: left;
	margin-left: 0px; 
	padding-top: 2px;
}
#container #account > ul > li {
	display: block;
	margin-right: 0px;
	margin-left: 20px;
	float: left;
	padding: 0px;
}
#account_flashmail_headerbox_full li {
	display: block;
	margin-right: 0px;
	margin-left: 20px;
	float: left;
	padding: 0px;
}
#container #account li a {
	color: #fff;
	padding: 2px 0px 0px 24px;
	background-repeat: no-repeat;
	line-height: 17px;
}
#container #account li.profile a {
	background-image: url(images/account/profile.png);
	background-position: left 1px;
}
#container #account li.preferences a {
	background-image: url(images/account/preferences.png);
	background-position: left 1px;
}
#container #account li.confidentiality a {
	background-image: url(images/account/confidentiality.png);
	background-position: left 3px;
}
#container #account li.security a {
	background-image: url(images/account/security.png);
	background-position: left 3px;
}
#container #account li.logout a {
	background-image: url(images/account/logout.png);
	background-position: left 3px;
}
#container #account li.flashmail a {
	background-image: url(images/flashmail/blackenveloppe.gif);
	background-repeat: no-repeat;
	background-position: left 3px;
	padding-left: 30px;
}

/* Form : Login Line */
div#account form.login {
	display: block;
	height: 22px;
	padding: 0px;
}

div#account form.login label {
	float: left;
	display: block;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 1em;
	font-weight: bold;
	vertical-align: middle;
	margin-top: -3px;
}

html>body div#account form.login label {
	margin-top: -2px;
}

div#account form.login input {
	float: left;
	display: block;
	border: 1px solid #b0b0b0;
	height: 20px;
	color: #a0a0a0;
	text-align: center;
	vertical-align: top;
	background-color: #fff;
	width: 140px;
	margin-top: 1px;
}

html>body div#account form.login input {
	width: 116px;
	height: 17px;
	margin-top: 2px;
	margin-bottom: 1px;
}

div#account form.login input.email {
	background-image: url(images/login/small/email.png);
	background-repeat: no-repeat;
	background-position: 1px 1px;
	padding-left: 24px;
}

div#account form.login input.password {
	background-image: url(images/login/small/key.png);
	background-repeat: no-repeat;
	background-position: 1px 1px;
	padding-left: 18px;
}

div#account form.login input.button {
	background-image: url(images/login/small/login.png);
	background-repeat: no-repeat;
	height: 22px;
	width: 69px;
	border: 0px;
	text-align: left;
	padding-left: 69px;
	margin-top: 1px;
	margin-right: 5px;
	margin-left: 5px;
}

div#account form.login a.forgotten {
	padding-right: 20px;
	color: #fff;
	font-weight: normal;
}

div#account form.login a.inscription {
	background-image: url(images/login/small/inscription.png);
	background-repeat: no-repeat;
	background-position: 1px 4px;
	padding-bottom: 4px;
	padding-top: 1px;
	padding-right: 10px;
}
div#account form.login a.inscription span {
	visibility: hidden;
}
div#account form.login a.inscription:hover {
	text-decoration: none;
}

/**
 Karibou menu embedded in the top bar...
 */
.karibouMenu, .karibouMenu ul {
  min-width: 160px;
  border: 1px solid #000;
  cursor: default;
  margin-left: 0px;
  padding: 0px;
}

.karibouMenu ul {
  background-color: black;
  opacity: 0.8;
  -moz-border-radius: 20px;
}

.karibouMenu li {
  list-style-type: none;
  margin: 0px;
  position: relative;
  color: #fff;
  left: 0px;
  padding: 0px;
/*float: left;	/* Suggested by Janosch */
}

.karibouMenu > ul {
  display: none;
  position: fixed;
  top: 12px;
/*left: 50px;	/* Suggested by Janosch */
padding-top: 10px;
  /*padding: 0px;*/
}

.karibouMenu:hover > ul {
  display: block;
  padding: 0px;
}
