#content div.bugs-content h1{
    position: static;
    width: 100%;
    margin-left: 0px;
    border-bottom: solid black 1px;
}

.bugs-content dl dd{
    display: block;
    font-weight: bold;
    margin-top: 5px;
}

.bugs-content dl dd:after{
    content: ": ";
}

.bugs-content dl dt{
    display: block;
    padding: 6px;
    border: solid black 1px;
}

.bugs-content table{
    width: 100%;
}

.bugs-content table tr{
    border: solid 1px black;
}

.bugs-content table tr th{
    background: #EEEEEE;
}

.bugs-content table tr td{
    border-top: black solid 1px;
    margin: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
}