.contact {
}

.contact form {
	padding: 10px;
	margin: 10px;
	background: #efefff;
	border: 1px solid #acacbb;
	
}

.contact form input {
	padding: 4px;
	font-weight: bold;	
	background: #ffffff;
	border: 1px solid #acacbb;	
}

.contact form input.button {
	padding: 4px;
	font-weight: bold;	
	background: #666699;
	border: 2px solid #9999bb;
	color: #ffffff;
	margin-left: 200px;
}


.contact form textarea {
	padding: 4px;
	background: #ffffff;
	border: 1px solid #acacbb;	
}

.contact form label {
	font-weight: bold;
}