.commentaires{
    position: fixed;
    top: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: white;
    padding: 10px;
    padding-top: 10px;
    border: solid 2px #99ccff;
    border-top: none;
    overflow: auto;
}

.commentaires h1{
    position: fixed;
    background: #EEF5F9;
    line-height: 50px;
    top: 0px;
    left: 0px;
    width: 100%;
    border-bottom: solid 2px #99ccff;
    z-index: 10;
}

.commentaires ul{
    padding-left: 0px;
    margin-left: 0px;
}

.commentaires-page-comments, .commentaires-page-form fieldset{
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    -khtml-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
    border: solid 2px #99ccff;
    padding: 5px;
    margin-top: 40px;
    background: #EEF5F9;
}

.commentaires-page-commentstitle,.commentaires-page-formlegend{
    display: block;
    position:relative;
    top: -30px;
    margin-left: -7px;
    font-size: 19px;
    min-width: 1px;
    width: 300px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -khtml-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    border: solid 2px #99ccff;
    border-bottom: none;
    background: #EEF5F9;
}

.commentaires-page-formlegend{
    position:relative;
    margin-top: -29px;
    padding: 3px;
    padding-left: 50px;
    padding-right: 50px;
    width: 300px;

}

.commentaires-page-commentername{
    display: block;
    padding: 3px;
    width: 200px;
    margin-right: 0px;
    margin-left: 0px;
    height: 100%;
    position: relative;
    top: 2px;

    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -khtml-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    border: solid 2px #99ccff;
    border-bottom: none;
    background: white;
}

.commentaires-page-commentercomment{
    display: block;
    height: 100%;
    padding: 5px;
    text-align: left;
    font-family:sans-serif;
    font-size: 120%;
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    -khtml-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
    border: solid 2px #99ccff;
    background: white;
}

.commentaires-page-commentunread .commentaires-page-commentername:before{
    display: inline-block;
    position: absolute;
    left: 2px;
    color: red;
    content: "new";
}

.commentaires-page-commentcontainer{
    
}

.commentaires-page-comments > ul > li{
    list-style: none;
    margin-bottom: 10px;
}

.commentaires a img{
    border: 0px;
}

.commentaires-page-form textarea{
    display: block;
    width: 90%;
    margin: 5px 5% 5px 5%;
    height: 200px;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border: solid 2px #99ccff;
    background: white;

    font-family:sans-serif;
    

}
