
.start_8_00 {
	top: 0px;
}
.start_8_15 {
	top: 13px;
}
.start_8_30 {
	top: 25px;
}
.start_8_45 {
	top: 38px;
}
.start_9_00 {
	top: 50px;
}
.start_9_15 {
	top: 63px;
}
.start_9_30 {
	top: 75px;
}
.start_9_45 {
	top: 88px;
}
.start_10_00 {
	top: 100px;
}
.start_10_15 {
	top: 113px;
}
.start_10_30 {
	top: 125px;
}
.start_10_45 {
	top: 138px;
}
.start_11_00 {
	top: 150px;
}
.start_11_15 {
	top: 163px;
}
.start_11_30 {
	top: 175px;
}
.start_11_45 {
	top: 188px;
}
.start_12_00 {
	top: 200px;
}
.start_12_15 {
	top: 213px;
}
.start_12_30 {
	top: 225px;
}
.start_12_45 {
	top: 238px;
}
.start_13_00 {
	top: 250px;
}
.start_13_15 {
	top: 263px;
}
.start_13_30 {
	top: 275px;
}
.start_13_45 {
	top: 288px;
}
.start_14_00 {
	top: 300px;
}
.start_14_15 {
	top: 313px;
}
.start_14_30 {
	top: 325px;
}
.start_14_45 {
	top: 338px;
}
.start_15_00 {
	top: 350px;
}
.start_15_15 {
	top: 363px;
}
.start_15_30 {
	top: 375px;
}
.start_15_45 {
	top: 388px;
}
.start_16_00 {
	top: 400px;
}
.start_16_15 {
	top: 413px;
}
.start_16_30 {
	top: 425px;
}
.start_16_45 {
	top: 438px;
}
.start_17_00 {
	top: 450px;
}
.start_17_15 {
	top: 463px;
}
.start_17_30 {
	top: 475px;
}
.start_17_45 {
	top: 488px;
}
.start_18_00 {
	top: 500px;
}
.start_18_15 {
	top: 513px;
}
.start_18_30 {
	top: 525px;
}
.start_18_45 {
	top: 538px;
}
.start_19_00 {
	top: 550px;
}
.start_19_15 {
	top: 563px;
}
.start_19_30 {
	top: 575px;
}
.start_19_45 {
	top: 588px;
}
.start_20_00 {
	top: 600px;
}
.start_20_15 {
	top: 613px;
}
.start_20_30 {
	top: 625px;
}
.start_20_45 {
	top: 638px;
}
.start_21_00 {
	top: 650px;
}
.start_21_15 {
	top: 663px;
}
.start_21_30 {
	top: 675px;
}
.start_21_45 {
	top: 688px;
}
.start_22_00 {
	top: 700px;
}
.start_22_15 {
	top: 713px;
}
.start_22_30 {
	top: 725px;
}
.start_22_45 {
	top: 738px;
}
.start_23_00 {
	top: 750px;
}
.start_23_15 {
	top: 763px;
}
.start_23_30 {
	top: 775px;
}
.start_23_45 {
	top: 788px;
}
