.dataview {
}

.dataview div.record label {
	font-weight: bold;
	display: block;
}

.dataview div.record div.field {
	padding-left: 5px;
	margin: 5px;
}

.dataview div.record div.field span {
	display: block;
	margin: 0px 20px 0px 20px;
}



.dataview div.record div.field.public {
	border-left: 2px solid #88cc88;
}

.dataview div.record div.field.private {
	border-left: 2px solid #dd8888;
}

.dataview div.record {
	border: 1px solid #acacac;
	margin: 10px;
	padding: 10px;
}

/* List view */
.dataview table.list {
	width: 860px;
	margin: 10px;
	border-top: 1px solid #acacac;
	border-left: 1px solid #acacac;
}
.dataview table.list tr td, .dataview table.list tr th {
	border-bottom: 1px solid #acacac;
	border-right: 1px solid #acacac;
	border-collapse: collapse;
	padding: 4px;
}

.dataview table.list tr td.detailslink a {
	display: block;
	background-image: url(images/dataview/details.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 21px;
	height: 20px;
}
.dataview table.list tr td.detailslink span {
	visibility: hidden;
	font-size: 0.5em;
	display: none;
}
	
.dataview table.list tr th {
	background-color: #5555ac;
	color: #ffffff;
}

.dataview table.list tr.one {
	background-color: #f5f5fd;
}

.dataview table.list tr.two {
	background-color: #f5fdf5;
}

/* List navigation */
.dataview div.navigation {
	border: 1px solid #eb7c00;
	background: #ffdbb1;
	margin: 5px;
	padding: 5px;
	text-align: center;
}

#container .dataview div.navigation a {
	text-decoration: none;
	font-weight: bold;
	color: #0000dd;
}

#container .dataview div.navigation a:hover {
	text-decoration: underline;
}

.dataview div.navigation div.nbrecords {
	display: block;
	text-align: center;
}

.dataview div.navigation div.viewingrecords {
	display: block;
	text-align: center;
}

.dataview div.navigation div.links {
	display: block;
	text-align: center;
}

.dataview div.navigation div.links .previous {
	display: block;
	float: left;
}

.dataview div.navigation div.links .next {
	display: block;
	float: right;
}

/* Source specific design */
.dataview div.record div.field.public.company_name span {
	font-size: 130%;
	font-weight: bold;
}

/* Source list */
.dataview ul.sources {
	list-style: none;
}

.dataview ul.sources li a{
	background-image: url(images/dataview/source50.png);
	background-repeat: no-repeat;
	background-position: 20px 50%;
	display: block;
	padding: 10px 10px 10px 85px;
	margin: 10px;
	height: 60px;
	font-size: 1.4em;
	border: 1px solid #dbdbdb;
	width: 300px;
	text-decoration: none;
}

.dataview ul.sources li a span {
	display: block;
	margin-top: 20px;
}