.emailforward {
}

.emailforward div.helper.enabled, .emailforward div.helper.disabled {
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: 10px center;
	padding: 10px 10px 10px 40px;
	border: 1px dashed #acacac;
}

.emailforward div.helper.enabled {
	background-image: url(images/emailforward/enabled.png);
}

.emailforward div.helper.disabled {
	background-image: url(images/emailforward/disabled.png);
}

.emailforward form {
	margin: 0px;
	padding: 0px;
}

.emailforward form fieldset {
	padding: 10px 10px 10px 150px;
	margin: 0px;
	background-image: url(images/emailforward/enveloppe.png);
	background-repeat: no-repeat;
	background-position: 10px 50%;
}

.emailforward form fieldset legend {

}

.emailforward form fieldset input {
	width: 200px;
}
.emailforward form fieldset input.button{
	width: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.emailforward form fieldset div.email {
	margin-top: 10px;
}