.flashmails {
    position: fixed;
    top: 30px;
    /*right: 2px;*/
    left: 50%;
    margin-left: -200px;
    width: 400px;
    text-align: left;
    z-index: 200;
}

.flashmail {
    border: solid 2px #ff3333;
    margin: 10px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: white;
}

.flashmailHeader {
    background: #ff3333;
    border-bottom: dotted 1px #99ccff;
    padding: 2px;
}

.flashmailHeader span {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.flashmailHeader span.answerlink, .flashmailHeader span.readlink, .flashmailHeader span.time, .flashmailHeader span.author{
    cursor: pointer;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: white;
}

.flashmails form {
    margin-right: 25px;
    margin-left: 25px;
    text-align: center;
}

.flashmailHeader span.time {
    font-style: italic;
}

.flashmail .message {
    padding: 10px;
    max-height: 200px;
    overflow: auto;
}

.flashmail .oldmessage {
    border-bottom: dotted 1px #99ccff;
    padding: 10px;
    color: gray;
    max-height: 150px;
    overflow: auto;
}

a.sendflashmaillink {
    background-image: url(images/flashmail/enveloppe.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    text-decoration: none;
}

a.sendflashmaillink span {
    visibility: hidden;
}

.flashmail input, .flashmail textarea {
    border: 1px solid #acacac;
    background: #efefff;
    color: #000000;
    font-weight: bold;
    padding: 1px;
    margin: 5px;
}
