.minichat {
}

.minichat ul {
	margin: 2px;
	padding: 0px;
	list-style: none;
}

.minichat li {
	padding: 2px;
	line-height: 20px;
	margin-bottom: 2px;
}

.minichat li.one {
	background-color: #f2f2f2;
}

.minichat li.two {
	background-color: #f8f8f8;
}

.minichat li .time {
	color: #aeaeae;
	font-style: italic;
}

.minichat li .message {
	padding-left: 5px;
}

.minichat li .message p {
	display: inline;
	padding: 0px;
	margin: 0px;
}

.minichat li acronym {
	text-decoration: none;
	border: 0px;
}

.minichat li .user a {
	text-decoration: none;
	font-weight: bold;
}

.minichat .chathistorylink {
	text-align: center;
}

.minichat .chathistorylink a {
	text-decoration: none;
}

/* Form */
.minichat input {
	border: 1px solid #acacac;
	background: #efefff;
	color: #000000;
	font-weight: bold;
	padding: 1px;
}

.minichat input.minichatMessage {
	width: 80%;
}

.minichat input.button {
	border: 2px solid #cfcfcf;
	background-color: #efefef;
	color: #444488;
	font-weight: bold;
}
