.netjobs {
	padding-left: 20px;
	padding-right: 20px;
}

.netjobs a {
	text-decoration: none;
	font-weight: bold;
}

.netjobs ul {
	list-style: none;
}

.netjobs ul li label {
	float: left;
	display: block;
	width: 240px;
	padding-left: 10px;
	overflow: hidden;
	white-space: nowrap;
}

.netjobs ul li {
	line-height: 160%;
}

#container #content .netjobs .profile {
	border: 0px;
}

#container #content .netjobs h4 {
	margin: 0px;
	padding: 0px;
}

/* Default page : Jobs */
.netjobs .jobs {
	width: 500px;
	float: left;
}

#container #content .netjobs .jobs h4 {
	width: 500px;
	height: 56px;
	background-image: url(images/netjobs/boxes/top.jobs.500.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

#container #content .netjobs .jobs h4 span {
	display: block;
	padding: 18px 0px 0px 90px;
	font-size: 1.2em;
	color: #fff;
}

.netjobs .jobs ul.joblist li {
	border-left: 1px solid #fdbf5e;
	border-right: 1px solid #fdbf5e;
}

.netjobs .jobs ul.joblist {
	background-image: url(images/netjobs/boxes/bottom.jobs.500.png);
	background-repeat: no-repeat;
	background-position: 0px bottom;
}

.netjobs .jobs a.viewalljobs {
	display: block;
	background-image: url(images/netjobs/jobs/viewalljobs.png);
	background-repeat: no-repeat;
	background-position: 0px bottom;
	width: 275px;
	height: 47px;
	float: left;
	margin-top: 11px;
}

.netjobs .jobs a.viewalljobs span {
	display: block;
	padding-left: 50px;
	padding-top: 12px;
	color: #ffffff;
	font-size: 1.2em;
}

.netjobs .jobs a.addjob {
	float: right;
}

.netjobs a.addjob {
	display: block;
	background-image: url(images/netjobs/jobs/addjob.png);
	background-repeat: no-repeat;
	background-position: 0px bottom;
	width: 210px;
	height: 54px;
	margin-top: 5px;
}

.netjobs a.addjob span {
	display: block;
	padding-left: 52px;
	padding-top: 18px;
	color: #ffffff;
	font-size: 1.1em;
}

/* Default page : Companies */
.netjobs .companies {
	width: 300px;
	float: right;
	overflow: hidden;
	padding: 0px;
}

#container #content .netjobs .companies h4 {
	width: 300px;
	height: 51px;
	background-image: url(images/netjobs/boxes/top.companies.300.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

#container #content .netjobs .companies h4 span {
	display: block;
	padding: 15px 0px 0px 80px;
	font-size: 1.1em;
	color: #fff;
}
.netjobs .companies ul.companylist li{
	border-left: 1px solid #65b5df;
	border-right: 1px solid #65b5df;
}
.netjobs .companies ul.companylist {
	background-image: url(images/netjobs/boxes/bottom.companies.300.png);
	background-repeat: no-repeat;
	background-position: 0px bottom;
}

#container #content .netjobs .companies ul.companylist .name, #container #content .netjobs .companies ul.companylist .description, #container #content .netjobs .companies ul.companylist .datetime {
	margin: 0px;
	padding: 0px;
	width: auto;
}

.netjobs ul.joblist, .netjobs ul.companylist {
	margin: 0px;
	padding: 0px 0px 10px 0px;
	list-style: none;
}

.netjobs .jobs ul.joblist li, .netjobs .companies ul.companylist li {
	padding: 1px 4px 1px 0px;
}

/* Job list */
ul.joblist li .title {
	display: block;
	float: left;
	width: 75%;
	overflow: hidden;
}
#content ul.joblist li .title a {
	background-image: url(images/netjobs/jobs/bullet.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding-left: 10px;
	color: #e48500;
	white-space: nowrap;
}

ul.joblist li .ago {
	display: block;
	float: right;
	width: 24%;
	background-color: #ffffff;
	color: #acacac;
	font-style: italic;
	text-align: right;
}

ul.joblist li .company {
	clear: both;
	padding-left: 30px;
}

#content ul.joblist li .company a {
	color: #2287bb;
}

/* Company list */
ul.companylist li .name a {
	background-image: url(images/netjobs/companies/bullet.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding-left: 10px;
	
}


/* Details */
.netjobs .toolbox {
	margin-left: 20%;
	margin-top: 20px;
	margin-bottom: 74px;
}
.netjobs .toolbox a {
	display: block;
	width: 212px;
	height: 54px;
	white-space: nowrap;
}

.netjobs .toolbox a span {
	display: block;
	padding-left: 60px;
	padding-top: 18px;
	color: #ffffff;
}

/* Details : Job */
.netjobs .jobdetails {
	/*border: 1px solid #fdbf5e;*/
	padding: 0px;
	margin-bottom: 10px;
}

.netjobs .jobdetails fieldset.job {
	border: 1px solid #fdbf5e;
}

.netjobs .jobdetails fieldset.company {
	border: 1px solid #65b5df;
}

.netjobs .jobdetails fieldset.contact {
	border: 1px solid #fdbf5e;
}

.netjobs .jobdetails span {
	font-weight: bold;
}

.netjobs .jobdetails span.textzone {
	display: block;
	clear: both;
	margin-left: 50px;
	margin-bottom: 10px;
	padding: 5px;
	width: 90%;
	font-weight: normal;
}

.netjobs .jobdetails .job span.textzone {
	border: 1px solid #ecdcac;
	background-color: #fff9f0;	
}

.netjobs .jobdetails .company span.textzone {
	border: 1px solid #2287bb;
	background-color: #f0f9ff;	
}

.netjobs .jobdetails .toolbox a.edit {
	float: left;
	background-image: url(images/netjobs/jobs/edit.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.netjobs .jobdetails .toolbox a.delete {
	float: left;
	margin-left: 20px;
	background-image: url(images/netjobs/jobs/delete.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.netjobs .jobdetails .toolbox a.delete span {
	color: #ac0000;
}

/* Details : Company */
.netjobs .companydetails {
	border: 1px solid #2287bb;
	padding: 10px;
	margin-bottom: 10px;
}

.netjobs .companydetails span {
	font-weight: bold;
}

.netjobs .companydetails span.textzone {
	display: block;
	clear: both;
	border: 1px solid #ecdcac;
	background-color: #fff9f0;
	margin-left: 50px;
	margin-bottom: 10px;
	padding: 5px;
	width: 90%;
	font-weight: normal;
}

.netjobs .companydetails .toolbox a.edit {
	float: left;
	background-image: url(images/netjobs/companies/edit.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.netjobs .companydetails .toolbox a.delete {
	float: left;
	margin-left: 20px;
	background-image: url(images/netjobs/companies/delete.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.netjobs .companydetails .toolbox a.delete span {
	color: #ff7777;
}

/* Edit */
.netjobs fieldset {
	padding: 20px;
}

.netjobs fieldset ul li {
	margin-top: 10px;
}

.netjobs .button {
	margin: 20px;
	text-align: center;
}
.netjobs .button input {
	font-weight: bold;
}

.netjobs fieldset ul li .note {
	display: block;
	font-style: italic;
	margin-left: 30px;
	color: #565656;
}