.netcv {
	margin: 5px 5px 5px 5px;
	width: 869px;
}

/* OK or KO */
.netcv .ok {
	color: #339933;
}
.netcv .ko {
	color: #993333;
}

/* Personal Info */

.netcv .personalInfo .content {
	
	border: 1px solid #acacac;
	padding: 5px;
}
.netcv .personalInfo .tabs {
	border: 0px solid #acacac;
	height: 25px;
	margin-bottom: 20px;
	line-height: 20px;
}
.netcv .personalInfo .tabs ul, .netcv .personalInfo .tabs li  {
	margin: 0px;
	padding: 0px;
}
.netcv .personalInfo .tabs li {
	float: left;
	border: 0px solid #acacac;
	border-bottom: 0px solid #acacac;
	margin: 0px 0px 0px 10px;
	padding: 0px;
	list-style: none;
}

/* Items */
.netcv .itemList {
	border: 1px solid #acacac;
}

.netcv .anItem {
	background: #fcfcfc;
	margin: 10px;
}
.netcv .anItem .toolkit{
	font-size: 9px;
	float: right;
	padding: 2px;
}

.netcv .anItem .title {
	font-size: 110%;
	font-weight: bold;
	background: #f1f1f1;
	padding: 2px;
}
.netcv .anItem .subtitle {
	font-size: 100%;
	font-weight: bold;
	font-style: italic;
	margin-left: 5px;
}
.netcv .anItem .description {
	font-size: 80%;
	margin-left: 10px;
}

.netcv .itemList h2 {
	margin: 0px;
	padding: 2px;
	font-size: 14px;
	background: #efefef;
	text-align: center;
	border-bottom: 1px solid #acacac;
}

.netcv .itemList .add {
	margin: 10px;
	text-align: center;
}

/* Sections */
.netcv .sectionList {
	border: 1px solid #acacac;
}

.netcv .sectionList .aSection {
	background: #effaef;
	margin: 12px;
	padding: 3px;
}
.netcv .sectionList .aSection .toolkit{
	font-size: 9px;
	float: right;
}

.netcv .sectionList h2 {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	background: #efefef;
	text-align: center;
	border-bottom: 1px solid #acacac;
}

.netcv .sectionList .add {
	margin: 10px;
	text-align: center;
}

/* GroupList */
.netcv .groupList {
	border: 1px solid #acacac;
}

.netcv .groupList h2  {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	background: #efefef;
	text-align: center;
	border-bottom: 1px solid #acacac;
	color: #000000;
}

.netcv .groupList .aGroup {
	border: 0px solid #acacac;
	margin: 10px;
	padding: 3px;
	background: #fcfcfc;
}

.netcv .groupList .aGroup .infos h3 {
	background: #dcdcdc;
	color: #000000;
	margin: 0px;
	padding: 2px;
}

.netcv .groupList .aGroup .infos ul {
	margin: 0px;
	padding: 0px;
}

.netcv .groupList .aGroup .infos li {
	margin: 2px 2px 2px 30px;
}

.netcv .groupList .aGroup .toolkit  {
	float: right;
	padding: 3px;
}

.netcv .groupList .aGroup .toolkit a {
}
.netcv .groupList .aGroup .add {
	text-align: left;
}

.netcv .groupList .add {
	text-align: center;
	margin-bottom: 5px;
}

/* Group Modify */
.netcv .skins .category {
	font-weight: bold;
}




/* quick Navigation */
.netcv .breadcrumbs {
	margin: 10px;
}
.netcv .breadcrumbs a {
	text-decoration: none;
	font-weight: bold;
}
.netcv .breadcrumbs a:hover {
	text-decoration: underline;
}

.clear {
  clear: both;
}
