.onlineusers {
}

.onlineusers ul {
	margin: 2px;
	padding: 0px;
	list-style: none;
}

.onlineusers li {
	line-height: 26px;
}

.onlineusers li a.userlink {
	padding-left: 14px;
	
	background-image: url(images/onlineusers/buddyicon.png);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	
	padding-top: 7px;
	padding-bottom: 2px;
	
	font-weight: bold;
	text-decoration: none;
}
