* {
	margin: 0px;
	padding: 0px;
}

body {
	font: 0.8em sans-serif;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

table {
	font-size: 1em;
}

ul {
	margin-left: 10px;
	padding-left: 15px;
}

legend {
	font-weight: bold;
}

fieldset {
	line-height: 230%;
}

a {
	color: #4e80c9;
}
a:hover {
	text-decoration: underline;
}

#container {
	text-align: left;
	/* width: 900px; */
	/* margin: 0px auto 0px auto; */
}
/*
#top {
	background: url("images/top-back.png") repeat-x;
	height: 80px;
	width: 900px;
	margin: 10px auto 0px auto;
}
#top .leftdeco {
	background: url("images/top-left.png") no-repeat left;
	height: 80px;
}

#top .rightdeco {
	background: url("images/top-right.png") no-repeat right;
	height: 80px;
}
#top .activate {
	color: #4F8B1D;
}

#top .menu {
	position: relative;
	top: 35px;
	left: 0px;
	text-align: left;
	padding: 0px;
	margin: 0px;
	font-size: 0.9em;
}

#top .menu li a.highlight {
	color: #ff5555;
}

#top li {
	display: inline;
	margin: 0px 0px 0px 10px;
	font: 0.9em bold;
}

/* Top links *

#top a {
	color: #4e80c9;
	text-decoration: none;
}

#top a:hover {
	color: #3e70b9;
}

#banner {
	background: url("images/banner-back.png") repeat-x;
	height: 115px;
	width: 900px;
	margin: 0px auto 0px auto;
}

#banner .leftdeco {
	background: url("images/banner-left.png") no-repeat left;
	height: 115px;
}

#banner .rightdeco {
	background: url("images/banner-right.png") no-repeat right;
	height: 115px;
}
*/
#main {
	background: #fff;
	margin-top: 5em;
	/* width: 900px; */
}
/*
#main .leftdeco {
	background: url("images/content-left.png") repeat-y left;
}

#main .rightdeco {
	background: url("images/content-right.png") repeat-y right;
}
*/

/*
#boxbar {
	width: 255px;
	float: right;
	margin: 0px;
}

#boxbar h3,p {
	margin: 5px 10px 0px 10px;
}
#boxbar h3 {
	font-size: 1.2em;
	color: #237DA1;
}

*/


#content1 {
	margin: 0px 10px 0px 10px;
}
#content {
	float: left;
	width: 880px;
}

#content p,h1 {
	padding: 3px 2px 2px 2px;
}

#content h1 {
	font-size: 1.4em;
	color: #237DA1;
}

#content h2 {
	font-size: 1.35em;
	font-weight: bold;
	color: #038D41;
	text-align: left;
}

#content h3 {
	font-size: 1.2em;
	font-weight: bold;
	color: #3c3c5c;
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 0px 5px;
	text-align: left;
	border-left: 4px solid #afafaf;
}

#content h4 {
	margin: 10px 0px 0px 20px;
	font-weight: bold;
}

#content code {
	margin: 10px 10px 10px 30px;
}


/* * * * * */
/*  Footer */
/* * * * * */
ul#footer {
	clear: both;
	background-color: #000;
	height: 20px;
	text-align: center;
	color: #fff;
	padding-left: 35%;
	padding-right: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
	overflow: hidden;
	margin: 0px;
}
ul#footer a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

ul#footer  {
	list-style: none;
}
ul#footer li {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	border-left: 1px solid #fff;
	height: 18px;
	overflow: hidden;
}
ul#footer li.first {
	border-left: 0px;
}
/*
#footer {
	clear: both;
	background-image: url("images/footer-back.png");
	background-repeat: repeat-x;
	background-position: top;
	height: 20px;
}

#footer .leftdeco {
	background-image: url("images/footer-left.png");
	background-repeat: no-repeat;
	background-position: top left;
	height: 20px;
}

#footer .rightdeco {
	background-image: url("images/footer-right.png");
	background-repeat: no-repeat;
	background-position: top right;
	height: 20px;
}

#footerauthor {
	text-align: center;
}
#footerauthor a {
	color: #4e80c9;
	text-decoration: none;
}

#footerlogo {
	text-align: center;
}

#footerlogo .title {
	color: #4e80c9;
	font-size: 0.8em;
}

#footerlogo .mask {
	visibility: hidden;
}
#footerlogo:hover .mask {
	visibility: visible;
}
*/

/* * * * * * * * * * * * */
/*      Form Message     */
/* * * * * * * * * * * * */
.error {
	margin: 5px;
	padding: 4px;
	
	border: 1px solid #990000;
	background: #ffeeee;

	color: #990000;
	font-style: italic;
	text-align: center;
}

.success {
	margin: 5px;
	padding: 4px;
	
	border: 1px solid #009900;
	background: #eeffee;

	color: #009900;
	font-style: italic;
	text-align: center;
}

.warning {
	margin: 5px;
	padding: 4px;
	
	border: 1px solid #8a5b00;
	background: #ffefbc;

	color: #8a5b00;
	font-style: italic;
	text-align: center;
}

.helper {
	border: 1px solid #acacef;
	background: #fafaff;
	padding: 5px;
	margin: 0px 0px 10px 0px;
}

.left {
	float: left;
}

.right {
	float: right;
}


.spacer {
	clear: both;
}

.clear {
	clear: both;
	border: 0;
	background: transparent;
	height: 1px;
	padding: 0;
	margin: 0;
	font-size: 1px;
}

#content .clear {
	clear: both;
	border: 0;
	margin: 0;
	padding: 0;
	background: none;
}

.invisible {
	visibility: hidden;
	display: none;
}


/* HintBox */
div#hintbox {
	position: absolute;
	visibility: hidden;
	z-index: 100;
	overflow: hidden;
}

.overzone {
	/* cursor: help; */
}

div.hint {
	padding: 15px 10px 15px 55px;
	background-position : 5px 50%;
	background-repeat : no-repeat;
	/* width: 400px; */
	color: #000000;
}

div.hint.hint_help {
	background-image : url(images/hintbox/help.png);
	background-color: #fff3dd;
	border: 1px solid #f0b337;
}

div.hint.hint_notallowed {
	background-image : url(images/hintbox/notallowed.png);
	background-color: #ffdddd;
	border: 1px solid #dd6666;
}

div.hint.hint_warning {
	background-image : url(images/hintbox/warning.png);
	background-color: #ffdddd;
	border: 1px solid #dd6666;
}

div.hint.hint_info {
	background-image : url(images/hintbox/info.png);
	background-color: #ddddff;
	border: 1px solid #7777dd;
}

div.hint.hint_success {
	background-image : url(images/hintbox/success.png);
	background-color: #f0fff0;
	border: 1px solid #99dd99;
}

div.hint.hint_error {
	background-image : url(images/hintbox/error.png);
	background-color: #ffdddd;
	border: 1px solid #dd6666;
}

div.hint.hint_profile {
	padding: 0px;
	margin: 0px;
	background-color: #ddddff;
	border: 1px solid #7777dd;
	width: 150px;
	overflow: hidden;
}
div.hint.hint_profile img {
}
div.hint.hint_profile span {
	font-weight: bold;
	display: block;
	padding: 2px;
	margin: 0px;
	border-top: 1px solid #7777dd;
}

/* Hint Overzone */

div.overzone {
	display: inline;
	background-image: url(images/hintbox/20/help.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding: 0px;
}

div.overzone span {
	/*
	display: none;
	visibility: hidden;
	*/
	font-size: 0.1em;
}

div.overzone.overzone_help {
	background-image : url(images/hintbox/small/help.png);
}
div.overzone.overzone_notallowed {
	background-image : url(images/hintbox/small/notallowed.png);
}
div.overzone.overzone_warning {
	background-image : url(images/hintbox/small/warning.png);
}
div.overzone.overzone_info {
	background-image : url(images/hintbox/small/info.png);
}
div.overzone.overzone_success {
	background-image : url(images/hintbox/small/success.png);
}
div.overzone.overzone_error {
	background-image : url(images/hintbox/small/error.png);
}