/* * * * * * * * * * * * * * * * */
/* Navigation par onglets (menu) */
/* * * * * * * * * * * * * * * * */

#siteNavigation {
	position: absolute;
	/* top: 1.45em; */
	top: 30px;
	left: 134px;
	right: 4px;
	width: 82.5%;
	height: 41px;
	overflow: hidden;
	z-index: 3;
}
#siteNavigation ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

/* siteNavigationCategories (Onglets principaux) */
#siteNavigationCategories{
	position: absolute;
	display: block;
}

#siteNavigationCategories li{
	float: left;
	text-align: left;
	margin-right: 2px;
}
#siteNavigationCategories li a{
	display: block;
	float: left;
	height: 18px;
	background-repeat: no-repeat;
	text-align: center;
}

/* Menu1 : Images et Largeurs */
#siteNavigationCategories li#linkCommunicate a {
	background-image: url(images/navigation/tabs/blue.png);
	width: 157px;
}
#siteNavigationCategories li#linkOrganize a {
	background-image: url(images/navigation/tabs/orange.png);
	width: 123px;
}
#siteNavigationCategories li#linkShare a {
	background-image: url(images/navigation/tabs/green.png);
	width: 109px;
}
#siteNavigationCategories li#linkJobs a {
	background-image: url(images/navigation/tabs/purple.png);
	width: 97px;
}
#siteNavigationCategories li#linkAdmin a {
	background-image: url(images/navigation/tabs/grey.png);
	width: 140px;
}
#siteNavigationCategories li#linkCommunicate, #siteNavigationCategories li#linkOrganize, #siteNavigationCategories li#linkShare, #siteNavigationCategories li#linkJobs, #siteNavigationCategories li#linkInform, #siteNavigationCategories li#linkAdmin{
	background: none;
}
/* siteNavigationApps : Couleurs */
#menuCommunicate, #menuOrganize, #menuShare, #menuJobs, #menuInform,  #menuAdmin{
	width: 100%;
}
.siteNavigationApps#menuCommunicate {
	background-color: #000079;
}
.siteNavigationApps#menuOrganize  {
	background-color: #ff9900;
}
.siteNavigationApps#menuShare {
	background-color: #00a200;
}
.siteNavigationApps#menuJobs {
	background-color: #a20095;
}
.siteNavigationApps#menuAdmin  {
	background-color: #777777;
}
/* siteNavigationApps : Décalage */
#menuCommunicate ul{
	margin-left: 0px;
}
#menuOrganize ul{
	margin-left: 159px;
}
#menuShare ul{
	margin-left: 244px;
}
#menuJobs ul{
	margin-left: 355px;
}
#menuAdmin ul{
	/* margin-left: 414px; */
	margin-left: 50%;/* 330px; */
}


/* Menu 2 (sous-menu) */
.siteNavigationApps{
	position: absolute;
	top: 18px;
}
.siteNavigationApps h3{
	display: none;
}
.siteNavigationApps li{
	float: left;
	padding-right: 1.6em;
	padding-left: 0.3em;
	height: 1.4em;
	border-left: 1px solid #fff;
	margin-right: -1px;
}
/* Ne fonctionne pas sous IE... */
.siteNavigationApps li:first-child, .siteNavigationApps li.first-child{
	border-left: 0px;
}
.siteNavigationApps li a {
	display: block;
	float: left;
	margin-top: 0.3em;
	padding-left: 28px;
	background-repeat: no-repeat;
	background-position: 0px 1px;
}

/* Taille et décoration des polices */
#siteNavigation a {
	text-decoration: none;
	color: #fff;
}
#siteNavigation h3 {
	font-size: 1.2em;
}
#siteNavigation h4 {
	font-size: 0.85em;

}