<?xml version="1.0" encoding="UTF-8" ?>
<app>
	<permissions default="_READ_ONLY_" logged="_SELF_WRITE_" />
	
	<view name="notfound" template="notfound.tpl" />
	<view name="noaccess" template="noaccess.tpl" />
	
	<header app="header" view="default" />
	<footer app="footer" view="default" />

	<page name="notfound" view="notfound" />
</app>
