<?xml version="1.0" encoding="UTF-8" ?>
<app>
<!-- management of the permission of the apps, default give the permission when we are not logged in and logged where we are logged in -->
	<permissions default="_READ_ONLY_" logged="_SELF_WRITE_" />

<!--load is used to associate a class name with a the class file name -->
	<load class="photos" file="photos.class.php" />
	<load class="submit" file="photossubmit.class.php" />
    <load class="photosAlbum" file="photos_album.class.php" />
    <load class="AddContainerForm" file="addcontainerform.class.php" />
    <load class="AddContainer" file="addcontainer.class.php" />
	<load class="AddTagContainer" file="addtagcontainer.class.php" />
	<load class="AddTagForm" file="addtagform.class.php" />
    <load class="folder" file="folder.class.php" />
	<load class="AddPhotosForm" file="addphotosform.class.php" />
	<load class="DisplayPhoto" file="displayphoto.class.php" />
	<load class="FindFromTags" file="findfromtags.class.php" />
	<load class="researchForm" file="researchform.class.php" />

    <load class="[arguments]/AnyCharArgument" />
    <load class="[arguments]/NumberArgument" />

	<load class="pictures" file="class/photos.class.php" />
	<load class="album" file="class/album.class.php" />
	<load class="carton" file="class/carton.class.php" />
	<!-- AlbumBase is a class which implement functions for album and carton -->
    <load class="AlbumBase" file="class/base.class.php" />
	<!-- containerFactory is a singleton, this have a function who load carton or album in function of the Id -->
    <load class="containerFactory" file="class/containerfactory.class.php" />
	<!-- PhotosFormModel extends the FormModel class to have some common functions  -->
	<load class="PhotosFormModel" file="class/function.class.php" />
	<!-- PhotosModel extends the Form class to have some common functions  -->
	<load class="PhotosModel" file="class/functionmodel.class.php" />

<!--view is used to associate a the name of the view, the class and the template file -->
	<view name="mini" class="photos" template="mini.tpl" />
    <view name="list" class="photos" template="list.tpl" />
    <view name="album" class="photosAlbum" template="album.tpl" />
    <view name="addcontainer" class="AddContainer" template="addcontainer.tpl" />
	<view name="addtags" class="AddTagContainer" template="addtags.tpl" />
    <view name="folder" class="folder" template="folder.tpl" />
	<view name="addphotos" template="addphotos.tpl" />
	<view name="photo" class="DisplayPhoto" template="photo.tpl" />
	<view name="findfromtags" class="FindFromTags" template="fromtags.tpl" />
	<view name="researchresult" class="researchForm" template="researchresult.tpl" />
	
<!--	<view name="{js}" template="js.tpl" />-->

<!--the following lines defines the default header and footer when we don't defines special header and footer -->
    <header app="header" view="default" />
    <footer app="footer" view="default" />

<!--association of the page name and the view-->

	<page  view="list" >

    <!--parameters of the page -->

        <header app="header" view="default" />
        <footer app="footer" view="default" />


    </page>

    <page name="album" view="album">
        <argument name="id" class="NumberArgument"/>
    </page>

    <page name="addcontainer" view="addcontainer">
        <argument name="parent" class="NumberArgument" />
    </page>

	<page name="addtags" view="addtags">
		<argument name="parent" class="NumberArgument" />
		<argument name="type" class="AnyCharArgument" />
	</page>

    <page name="carton" view="folder" >
        <argument name="id" class="NumberArgument" />
    </page>

	<page name="addphotos" view="addphotos" >
		<argument name="parent" class="NumberArgument" />
	</page>

	<page name="photo" view="photo">
		<argument name="id" class="NumberArgument" />
	</page>
	
	<page name="findfromtags" view="findfromtags" />
	
	<page name="researchresult" view="researchresult" />
	
	
<!--definition of a form who permit to create event in reaction of form -->
	<form action="container" class="AddContainerForm" >
        <redirect page="carton" />
    </form>
    
	<form action="tags" class="AddTagForm" >
		<redirect />
	</form>
	
	<form action="photos" class="AddPhotosForm">
		<redirect page="album" /> 
	</form>
	
	<form action="research" class="researchForm">
		<redirect page="researchresult" />
	</form>
</app>
