
.size_0_00 {
	height: 0px;
}
.size_0_15 {
	height: 13px;
}
.size_0_30 {
	height: 25px;
}
.size_0_45 {
	height: 38px;
}
.size_1_00 {
	height: 50px;
}
.size_1_15 {
	height: 63px;
}
.size_1_30 {
	height: 75px;
}
.size_1_45 {
	height: 88px;
}
.size_2_00 {
	height: 100px;
}
.size_2_15 {
	height: 113px;
}
.size_2_30 {
	height: 125px;
}
.size_2_45 {
	height: 138px;
}
.size_3_00 {
	height: 150px;
}
.size_3_15 {
	height: 163px;
}
.size_3_30 {
	height: 175px;
}
.size_3_45 {
	height: 188px;
}
.size_4_00 {
	height: 200px;
}
.size_4_15 {
	height: 213px;
}
.size_4_30 {
	height: 225px;
}
.size_4_45 {
	height: 238px;
}
.size_5_00 {
	height: 250px;
}
.size_5_15 {
	height: 263px;
}
.size_5_30 {
	height: 275px;
}
.size_5_45 {
	height: 288px;
}
.size_6_00 {
	height: 300px;
}
.size_6_15 {
	height: 313px;
}
.size_6_30 {
	height: 325px;
}
.size_6_45 {
	height: 338px;
}
.size_7_00 {
	height: 350px;
}
.size_7_15 {
	height: 363px;
}
.size_7_30 {
	height: 375px;
}
.size_7_45 {
	height: 388px;
}
.size_8_00 {
	height: 400px;
}
.size_8_15 {
	height: 413px;
}
.size_8_30 {
	height: 425px;
}
.size_8_45 {
	height: 438px;
}
.size_9_00 {
	height: 450px;
}
.size_9_15 {
	height: 463px;
}
.size_9_30 {
	height: 475px;
}
.size_9_45 {
	height: 488px;
}
.size_10_00 {
	height: 500px;
}
.size_10_15 {
	height: 513px;
}
.size_10_30 {
	height: 525px;
}
.size_10_45 {
	height: 538px;
}
.size_11_00 {
	height: 550px;
}
.size_11_15 {
	height: 563px;
}
.size_11_30 {
	height: 575px;
}
.size_11_45 {
	height: 588px;
}
.size_12_00 {
	height: 600px;
}
.size_12_15 {
	height: 613px;
}
.size_12_30 {
	height: 625px;
}
.size_12_45 {
	height: 638px;
}
.size_13_00 {
	height: 650px;
}
.size_13_15 {
	height: 663px;
}
.size_13_30 {
	height: 675px;
}
.size_13_45 {
	height: 688px;
}
.size_14_00 {
	height: 700px;
}
.size_14_15 {
	height: 713px;
}
.size_14_30 {
	height: 725px;
}
.size_14_45 {
	height: 738px;
}
.size_15_00 {
	height: 750px;
}
.size_15_15 {
	height: 763px;
}
.size_15_30 {
	height: 775px;
}
.size_15_45 {
	height: 788px;
}
.size_16_00 {
	height: 800px;
}
.size_16_15 {
	height: 813px;
}
.size_16_30 {
	height: 825px;
}
.size_16_45 {
	height: 838px;
}
.size_17_00 {
	height: 850px;
}
.size_17_15 {
	height: 863px;
}
.size_17_30 {
	height: 875px;
}
.size_17_45 {
	height: 888px;
}
.size_18_00 {
	height: 900px;
}
.size_18_15 {
	height: 913px;
}
.size_18_30 {
	height: 925px;
}
.size_18_45 {
	height: 938px;
}
.size_19_00 {
	height: 950px;
}
.size_19_15 {
	height: 963px;
}
.size_19_30 {
	height: 975px;
}
.size_19_45 {
	height: 988px;
}
.size_20_00 {
	height: 1000px;
}
.size_20_15 {
	height: 1013px;
}
.size_20_30 {
	height: 1025px;
}
.size_20_45 {
	height: 1038px;
}
.size_21_00 {
	height: 1050px;
}
.size_21_15 {
	height: 1063px;
}
.size_21_30 {
	height: 1075px;
}
.size_21_45 {
	height: 1088px;
}
.size_22_00 {
	height: 1100px;
}
.size_22_15 {
	height: 1113px;
}
.size_22_30 {
	height: 1125px;
}
.size_22_45 {
	height: 1138px;
}
.size_23_00 {
	height: 1150px;
}
.size_23_15 {
	height: 1163px;
}
.size_23_30 {
	height: 1175px;
}
.size_23_45 {
	height: 1188px;
}
.size_24_00 {
	height: 1200px;
}
