<?xml version="1.0" encoding="UTF-8" ?>

<!-- klock application, by Rémy Sanchez <remy.sanchez@hyperthese.net> -->

<!-- This version == a test ! -->
<!-- Les éléphants aiment les endives -->

<app>
	<permissions default="_SELF_WRITE_" logged="_SELF_WRITE_" />

	<!-- ***********
	CLASSES TO LOAD
	************ -->
	
	<!-- mini application -->
	<load class="klock" file="klock.class.php" />
	<!-- svg picture of the analog clock -->
	<load class="klockSvg" file="klockSvg.class.php" />
	<!-- configuration -->
	<load class="klockConfig" file="klockConfig.class.php" />

	<!-- arguments -->
	<!-- a number -->
	<load class="[arguments]/NumberArgument" />
	
	<!-- ***********
	VIEWS
	************ -->
	 
	<!-- mini application -->
	<view name="mini" class="klock" template="klock.tpl" />
	<!-- svg picture of the analog clock -->
	<view name="svg" class="klockSvg" template="picture.svg.tpl" />
	<!-- javascript view -->
	<view name="js" template="klock.js.tpl" />
	
	<!-- ***********
	PAGES
	************ -->
	
	<!-- a page that shows the SVG picture. Of course, nothing has to be
	     sent before or after the SVG picture, so header and footer
	     are empty -->
	<page name="svg" view="svg" contenttype="image/svg+xml">
		<header app="header" view="empty" />
		<footer app="footer" view="empty" />

		<!-- the imprecision must be given as an argument -->
		<option name="imprecision" class="NumberArgument" />
	</page>
</app>
