<?xml version="1.0" encoding="UTF-8" ?>
<app>
	<permissions default="_READ_ONLY_" logged="_READ_ONLY_" />

	<load class="DynamicsDefault" file="default.class.php" />
	<load class="DynamicsDefaultTest" file="test.class.php" />
	
	<load class="MinichatMessageList"	file="../minichat/class/minichatmessagelist.class.php" />
	<load class="MinichatMessage"			file="../minichat/class/minichatmessage.class.php" />
	<load class="wiki2xhtmlBasic"			file="../wiki/wiki2xhtml.basic.class.php" />

	<header app="header" view="default" />
	<footer app="footer" view="default" />

	<view name="default" class="DynamicsDefault" template="default.php" />
	<view name="test" class="DynamicsDefaultTest" template="test.php" />

	<page view="default">
		<header app="header" view="empty" />
		<footer app="footer" view="empty" />
	</page>

	<page name="test" view="test" />


</app>