<?xml version="1.0" encoding="UTF-8" ?>
<app>
	<permissions default="_READ_ONLY_" logged="_SELF_WRITE_" />

	<load class="RBReset" file="class/RBReset.class.php" />
	<load class="RBState" file="class/RBState.class.php" />
	<load class="RBStats" file="class/RBStats.class.php" />
	<load class="RBMyStats" file="class/RBMyStats.class.php" />
	<load class="RBMini" file="class/RBMini.class.php" />
	<load class="RBJS" file="class/RBJS.class.php" />
	
	<header app="header" view="empty" />
	<footer app="footer" view="empty" />
	
	<view name="state" class="RBState" template="state.tpl" />
	<view name="stats" class="RBStats" template="stats.tpl" />
	<view name="mystats" class="RBMyStats" template="mystats.tpl" />
	<view name="mini" class="RBMini" template="mini.tpl" />
	<view name="JS" class="RBJS" template="js.tpl" />
	
	<page name="stats" view="stats" />
	
	<page name="mystats" view="mystats" />
	
	<page name="state" view="state" />

	<form action="reset" class="RBReset">
		<redirect page="state" />
	</form>	
</app>
