<?xml version="1.0" encoding="UTF-8" ?>
<app class="resetbutton">
	<permissions default="_READ_ONLY_" logged="_SELF_WRITE_" />

	<load class="resetbutton" file="resetbutton.class.php" />
	<load class="resetbuttonreset" file="resetbuttonreset.class.php" />
	<load class="resetbuttonstats" file="resetbuttonstats.class.php" />
	<load class="resetbuttonmystats" file="resetbuttonmystats.class.php" />
	
	<header app="header" view="default" />
	<footer app="footer" view="default" />
	
	<view name="mini" class="resetbutton" template="resetbutton.tpl" />
	<view name="content" class="resetbutton" template="content.tpl" />
	<view name="reset" class="resetbuttonreset" template="content.tpl" />
	<view name="stats" class="resetbuttonstats" template="stats.tpl" />
	<view name="mystats" class="resetbuttonmystats" template="mystats.tpl" />
	
	<page view="default" />
	
	<page name="stats" class="resetbuttonstats" view="stats">
		<header app="header" view="empty" />
		<footer app="footer" view="empty" />
	</page>
	
	<page name="mystats" class="resetbuttonmystats" view="mystats">
		<header app="header" view="empty" />
		<footer app="footer" view="empty" />
	</page>
	
	<page name="content" class="resetbutton" view="content">
		<header app="header" view="empty" />
		<footer app="footer" view="empty" />
	</page>
	
	<page name="reset" class="resetbuttonreset" view="reset">
		<header app="header" view="empty" />
		<footer app="footer" view="empty" />
	</page>
</app>
