{literal}
/* *** *** ***
Creator : Antoine Leclercq
Creation date : 2003.10.09

- Modifications - 
2003.11.20 by Antoine Leclercq : style cleaned
2004.05.28 by Mathieu Duchemin : modification on .boxContentLevel1 h3 ; modification to centre "info"
*** *** *** *** */

@import url("backToNetCV.css");

body {
	margin: 0px;
	padding: 0px;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #000000;
	background: #ffffff;
	height: 100%;
	text-align: center;
}

/* Layout */
#container {
	position: relative;
	width: 702px; 
	padding: 0px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;	
	border: 0px solid #ececec;
	border-top: 0px solid #ececec;
	border-bottom: 0px solid #ececec;
	text-align: left; 
	background: #ffffff;
}

#boxTop {
	position: relative;
	width:700px;
	padding: 0px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;	
	border: 0px solid #ececec;
	border-top: 0px solid #ececec;
	border-bottom: 0px solid #ececec;
	text-align: left; 
	background: #ffffff;
	height: 180px;
}

#name h1 {
	position: relative;
	margin-top: 20px;
	padding: 0px;
	width: 700px;
	text-align: center;
	font-size: 24px;
	font-weight: normal;
	background: #ffffff;
}

#infos {
	position: relative;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-top: 10px;
	padding: 0px;
	width: 700px;
	text-align: center;
	font-size: 10px;
	line-height: 14px;
	color: #333333
}

#photo {
	position: relative;
	margin-top: -100px;
	margin-left: 510px;
	padding: 0px;
	width: 100px;
	height: 130px;
}

#photo img {
	border: 1px solid #000000;
}
	
.boxTitle {
	position: relative;
	width: 250px;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: -1px;
	margin-left: 40px;
	margin-right: auto;
	border: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	text-align: center;
	background: #888888;
}
	
.boxContent {
	position: relative;
	width: auto;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background: #ffffff;
}

.boxContentLevel1 {
	position: relative;
	padding: 0px 0px 0px 20px;
}

.boxContentLevel2 {
	position: relative;
	padding: 0px 0px 0px 40px;
}
	
	
/* Additional Styles */

#jobTitle h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	position: relative;
	margin-top: 20px;
	padding: 0px;
	width: 700px;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
}

.boxTitle h1 {
	font-size: 12px;
	font-weight: bold;
	padding: 2px;
	color: #ffffff;
	margin: 0px;
	text-align: center;
}

.boxContentLevel1 h2 {
	position: relative;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	line-height: 12px;
	margin: 0;
	padding: 5px 5px 0px 0px;
	text-align: left;
	width: 80%;
}

.boxContentLevel1 h3 {
	position: relative;
	font-size: 10px;
	/*font-weight: bold;*/
	color: #333333;
	line-height: 12px;
	margin: 0;
	padding: 5px 5px 0px 20px;
	text-align: left;
	width: 90%;
}

.boxContentLevel2 h3 {
	position: relative;
	font-size: 10px;
	color: #333333;
	line-height: 12px;
	margin: 0;
	padding: 5px 5px 0px 0px;
	text-align: left;
}

.boxContentLevel1 p, .boxContentLevel1 ul {
	position: relative;
	font-size: 10px;
	color: #444444;
	line-height: 14px;
	margin: 0;
	padding: 5px 5px 5px 30px;
	text-align: justify;
}

.boxContentLevel1 ul {
	padding: 0px 0px 0px 40px;
}

ul {
	margin: 0;
	padding: 0px 0px 0px 20px;
}

li {
	margin: 0;
	padding: 2px 0px 2px 0px;
}
{/literal}