{literal}
@import url("/netcv/cvskindisplay/backToNetCV.css");

body {
	margin: 0px;
	padding: 0px;
	font-family: Garamond, Georgia, "Times New Roman";
	color: #000000;
	background: #ffffff;

}

/* Layout */
#container {
	position: relative;
	padding: 0px;
	margin: auto;
	width: 800px;
}

#boxTop {
	position: relative;
	width:100%;
	padding: 0px;
	margin: 0px;
	text-align: left;
	height: 160px;
}

#name h1 {
	position: absolute;
	font-family: Garamond, Georgia, "Times New Roman";
	top: 60px;
	
	width: 800px;
	margin: 0px;
	text-align: center;
	font-size: 36px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 3px;
}

#infos {
	position: relative;
	font-family: Garamond, Georgia, "Times New Roman";
	margin-top: 10px;
	padding: 0px;
	text-align: center;
	font-size: 10px;
	line-height: 14px;
	color: #000000;
}

#photo {
	position: absolute;
  top: 20px;
	right: 50px;
	padding: 0px;
	visibility: hidden;
}

#photo img {
	border: 1px solid #000000;
}
	
.boxTitle {
	position: relative;
  left: 0%;
	width: 100%;
	
	padding: 0px;
	margin-bottom: 10px;
	
	border-bottom: 1px solid #cccccc;
	text-align: center;
}
	
.boxContent {
	position: relative;
	width: 700px;
	left: 100px;

	padding: 0px;
	margin: 0px;
	margin-bottom: 0px;

}

.boxContentLevel1 {
	position: relative;
	padding: 0px 0px 0px 20px;
}

.boxContentLevel2 {
	position: relative;
	padding: 0px 0px 0px 40px;
}


/* Additional Styles */

#jobTitle h1 {
	position: absolute;
	
	font-family: Garamond, Georgia, "Times New Roman";
	
  top: 140px;
	
	padding: 0px;
	margin: 0px;
	font-size: 20px;
	
	text-align: center;
	width: 100%;
	
	color: #656565;
}

.boxTitle h1 {
  position: relative;
  font-family: Garamond, Georgia, "Times New Roman";
	font-size: 20px;
	font-weight: normal;
	padding: 2px;
	color: #000000;
	margin-top: 10px;
	margin-bottom: 0px;
	text-align: left;
	text-transform: uppercase;
}

.boxContentLevel1 h2 {
	position: relative;
	font-family: Garamond, Georgia, "Times New Roman";
	font-size: 18px;
  font-weight: normal;

	line-height: 12px;
	margin: 0;
	padding: 5px 5px 0px 0px;
	text-align: left;
}

.boxContentLevel1 h3 {
	position: relative;
	font-size: 16px;
	top: 0px;
	right: 0px;
	margin: 0px;
	margin-top: -14px;
	padding: 0px;
	text-align: right;
}

.boxContentLevel2 h3 {
	position: relative;
	font-size: 10px;
	color: #333333;
	line-height: 15px;
	margin: 0;
	padding: 5px 5px 0px 0px;
	text-align: left;
}

.boxContentLevel1 p, .boxContentLevel1 ul {
	font-family: Garamond, Georgia, "Times New Roman";
	font-size: 15px;
	color: #333333;
	line-height: 16px;
	margin: 0;
	padding: 5px 5px 15px 30px;
	text-align: justify;
}

.boxContentLevel1 ul {
	padding: 0px 0px 0px 40px;
}

ul {
	margin: 0;
	padding: 0px 0px 0px 20px;
}

li {
	margin: 0;
	padding: 2px 0px 2px 0px;
}

#boxTop #infos {
	position: absolute;
	top: 0px;
	font-size: 13px;
	right: 0px;
	border: 0px solid #222222;
}

#boxTop #infos, #boxTop #infos a   {
	color: #999999;
}
	
#boxTop #infos #address {
	position: relative;
	margin-right: 10px;
	float: left;
}

#boxTop #infos #phone {
  position: relative;
	margin-right: 10px;
	float: left;
}

#boxTop #infos #email {
  position: relative;
	margin-right: 10px;
	float: left;
}

#boxTop #infos #other_infos {
  position: relative;
	margin-right: 10px;
	float: left;
}
{/literal}
