<?xml version="1.0" ?>

<app>
	<load class="AlphaNum" file="alphanum.class.php" />
	<load class="AnyCharArgument" file="anycharargument.class.php" />
	<load class="ArgAction" file="argaction.class.php" />
	<load class="ArgMiniapp" file="argminiapp.class.php" />
	<load class="ArgServer" file="argserver.class.php" />
	<load class="CVId" file="cvid.class.php" />
	<load class="DayArgument" file="dayargument.class.php" />
	<load class="Direction" file="direction.class.php" />
	<load class="DisplayComments" file="displaycomments.class.php" />
	<load class="ElementId" file="elementid.class.php" />
	<load class="ElementParentId" file="elementparentid.class.php" />
	<load class="GroupId" file="groupid.class.php" />
	<load class="HideArgument" file="hideargument.class.php" />
	<load class="KeyArgument" file="keyargument.class.php" />
	<load class="MailboxArgument" file="mailboxargument.class.php" />
	<load class="MonthArgument" file="monthargument.class.php" />
	<load class="NumberArgument" file="numberargument.class.php" />
	<load class="PageArgument" file="pageargument.class.php" />
	<load class="UserName" file="username.class.php" />
	<load class="WeekArgument" file="weekargument.class.php" />
	<load class="YearArgument" file="yearargument.class.php" />
</app>

