<app>	
	<permissions default="_NO_ACCESS_" logged="_SELF_WRITE_" />

	<load class="AnyCharArgument" file="../arguments/anycharargument.class.php" />
	<load class="NumberArgument" file="../arguments/numberargument.class.php" />

	<load class="KDirectory" file="class/kdirectory.class.php" />
	<load class="KFile" file="class/kfile.class.php" />
	<load class="KDBFSElement" file="class/kdbfselement.class.php" />
	<load class="KDBFSElementVersion" file="class/kdbfselementversion.class.php" />
	<load class="KDBFSElementWriter" file="class/kdbfselementwriter.class.php" />
	<load class="KDBFSElementFactory" file="class/kdbfselementfactory.class.php" />

	<load class="FileShareMenu" file="filesharemenu.class.php" />

	<load class="FileShareDefault" file="default.class.php" />
	<load class="FileShareSaveFile" file="savefile.class.php" />
	<load class="FileShareDeleteFile" file="deletefile.class.php" />
	<load class="FileShareList" file="list.class.php" />
	<load class="FileShareUpload" file="upload.class.php" />
	<load class="FileShareDownload" file="download.class.php" />
	<load class="FileShareDirectory" file="directory.class.php" />
	<load class="FileShareCreateDirectory" file="createdirectory.class.php" />
	<load class="FileShareSaveDirectory" file="savedirectory.class.php" />
	<load class="FileShareDetails" file="details.class.php" />
	<load class="FileShareMini" file="mini.class.php" />
	<load class="FileShareMoveChooseWhere" file="movewhere.class.php" />
	<load class="FileShareMove" file="move.class.php" />

	<header app="header" view="default" />
	<footer app="footer" view="default" />

	<view name="menu" class="FileShareMenu" template="menu.tpl" />

	<view name="list" class="FileShareList" template="list.tpl" />
	<view name="upload" class="FileShareUpload" template="upload.tpl" />
	<view name="addversion" class="FileShareUpload" template="upload.tpl" />
	<view name="download" class="FileShareDownload" template="download.tpl" />
	<view name="createdirectory" class="FileShareCreateDirectory" template="createdirectory.tpl" />
	<view name="details" class="FileShareDetails" template="details.tpl" />
	
	<view name="mini" class="FileShareMini" template="mini.tpl" />
	<view name="movewhere" class="FileShareMoveChooseWhere" template="movewhere.tpl" />

	<view name="directory" class="FileShareDirectory" template="directory.tpl" />

	<page view="directory" />
	
	<page name="upload" view="upload">
		<option name="directoryname" class="AnyCharArgument" />
	</page>
	
	<page name="addversion" view="addversion">
		<option name="fileid" class="NumberArgument" />
	</page>

	<page name="createdirectory" view="createdirectory">
		<option name="directoryname" class="AnyCharArgument" />
	</page>

	<page name="directory" view="directory">
		<option name="directoryname" class="AnyCharArgument" />
	</page>
	<page name="details" view="details">
		<argument name="elementpath" class="AnyCharArgument" />
	</page>

	<page name="download" view="download">
		<argument name="filename" class="AnyCharArgument" />
	</page>
	
	<page name="downloadversion" view="download">
		<argument name="fileid" class="NumberArgument" />
		<argument name="versionid" class="NumberArgument" />
	</page>

	<page name="movewhere" view="movewhere">
		<argument name="elementid" class="NumberArgument" />
		<option name="destinationid" class="NumberArgument" />
	</page>

	<form action="savefile" class="FileShareSaveFile">
		<redirect />
	</form>
	
	<form action="move" class="FileShareMove">
		<redirect />
	</form>
	
	<form action="savedirectory" class="FileShareSaveDirectory">
		<redirect />
	</form>

	<form action="deletefile" class="FileShareDeleteFile">
		<redirect />
	</form>

</app>