<?xml version="1.0" encoding="UTF-8" ?>
<app>
	<load class="DefaultMenu" file="class/defaultmenu.class.php" />
	<load class="MiniApp" file="class/miniapp.class.php" />
	<load class="MiniAppFactory" file="class/miniappfactory.class.php" />
	<load class="AppMainView" file="class/appmainview.class.php" />
	<load class="AppJSView" file="class/appjsview.class.php" />
	<load class="AppJSConfigView" file="class/appjsconfigview.class.php" />
	<load class="AppSubmit" file="class/appsubmit.class.php" />
	<load class="AppConfig" file="class/appconfig.class.php" />
	<load class="HomeConfig" file="class/homeconfig.class.php" />
	<load class="SaveHome" file="class/savehome.class.php" />

	<load class="DefaultModel" file="class/defaultmodel.class.php" />
	<!-- TODO : split appcontentmodel in three files -->
	<load class="AppContentModel" file="class/appcontentmodel.class.php" />	
	<load class="AppConfigModel" file="class/appcontentmodel.class.php" />	

	<load class="ArgMiniapp" file="../arguments/argminiapp.class.php" />
	
	<view name="menu" class="DefaultMenu" template="menu.tpl" />
	<hook name="header_menu" view="menu" />

	<view name="default" class="DefaultModel" template="accueil.tpl" />
	<view name="homeConfig" class="HomeConfig" template="homeconfig.tpl" />
	<view name="appMainView" class="AppMainView" template="appmainview.tpl" />
	<view name="appJSView" class="AppJSView" template="appjsview.tpl" />
	<view name="appJSConfigView" class="AppJSConfigView" template="appjsconfigview.tpl" />
	
	<header app="empty" view="default" />
	<footer app="empty" view="default" />
	
	<page view="default">
		<header app="header" view="home" />
		<footer app="footer" view="default" />
	</page>
	
	<page name="appmainview" view="appMainView">
		<argument name="miniapp" class="ArgMiniapp" />
	</page>
	
	<page name="appjsview" view="appJSView">
		<argument name="miniapp" class="ArgMiniapp" />
	</page>

	<page name="appjsconfigview" view="appJSConfigView">
		<argument name="miniapp" class="ArgMiniapp" />
	</page>

	<page name="homeconfig" view="homeConfig" />

	<form action="appsubmit" class="AppSubmit" />
	<form action="appconfig" class="AppConfig" />
	<form action="savehome" class="SaveHome" />
	
</app>
