<?xml version="1.0" encoding="UTF-8" ?>
<app>
	<permissions default="_READ_ONLY_" logged="_SELF_WRITE_" />
	
	<load class="HeaderHome" file="headerhome.class.php" />
	
	<view name="home" class="HeaderHome" template="headerhome.tpl" />
	<view name="default" class="HeaderHome" template="headerhome.tpl" />

</app>
