<?xml version="1.0" encoding="UTF-8" ?>
<app>
	<config>
		<param name="max">
			<value name="small">7</value>
			<value name="normal">20</value>
		</param>
		<param name="userichtext">
			<value name="small">true</value>
			<value name="normal">true</value>
		</param>
		<param name="inversepostorder">
			<value name="small">0</value>
			<value name="normal">0</value>
		</param>
		<param name="emoticon_theme">
			<value name="small">0</value>
			<value name="normal">0</value>
		</param>
		<param name="refresh">
			<value name="small">4</value>
		</param>
	</config>
	
	<permissions default="_NO_ACCESS_" logged="_SELF_WRITE_" />
	
	<load class="MinichatMessageList"		file="./class/minichatmessagelist.class.php" />
	<load class="MinichatMessage"			file="./class/minichatmessage.class.php" />
	<load class="MinichatRendering"			file="./class/minichatrendering.class.php" />
	<load class="Emoticons"				file="./class/emoticons.class.php" />
	<load class="PageArgument"			file="../arguments/pageargument.class.php" />
	<load class="NumberArgument"	    		file="../arguments/numberargument.class.php" />

	<load class="MCDefault"		file="mcdefault.class.php" />
	<load class="MCPost"		file="mcpost.class.php" />
	<load class="MCJS"		file="mcjs.class.php" />
	<load class="MinichatConfig"    file="./class/minichatconfig.class.php" />

	<view name="json" class="MCDefault" template="json.tpl" />
	<view name="mini" class="MCDefault" template="small.tpl" />
	<view name="small" class="MCDefault" template="small.tpl" />
	<view name="big" class="MCDefault" template="minichat.tpl" />
	<view name="JS" class="MCJS" template="js.tpl" />

	<view name="content" class="MCDefault" template="content.tpl" />
	
	<header app="header" view="default" />
	<footer app="footer" view="default" />
	
	<page view="big" />
	
	<page view="big">
		<option name="pagenum" class="PageArgument" />
		<option name="day" class="NumberArgument" />
	</page>
	
	<page name="content" view="content">
		<option name="maxlines" class="NumberArgument" />
		<option name="userichtext" class="NumberArgument" />
		<option name="inversepostorder" class="NumberArgument" />
		<option name="emoticon_theme" class="NumberArgument" />
		<header app="header" view="empty" />
		<footer app="footer" view="empty" />
	</page>

	<page name="json" view="json">
		<header app="header" view="empty" />
		<footer app="footer" view="empty" />
	</page>
	
	<form action="post" class="MCPost" />
</app>
