<?xml version="1.0" encoding="UTF-8" ?>
<app>
	<permissions default="_NO_ACCESS_" logged="_FULL_WRITE_"/>
	<load class="Commentaires" file="commentaires.class.php" />
	<load class="[arguments]/NumberArgument" />
	<load class="CommentairesAdd" file="commentairesadd.class.php" />

	<view name="commentaire" class="Commentaires" template="page.tpl" />

	<page view="commentaire">
		<argument name="id" class="NumberArgument" />
		<header app="header" view="minimal" />
		<footer app="footer" view="minimal" />
	</page>

	<form action="postcomment" class="CommentairesAdd" >
		<referer />
	</form>
</app>
