<?xml version="1.0" encoding="UTF-8" ?>
<app>

	<config>
		<param name="image">
			<value name="width">150</value>
			<value name="height">180</value>
			<value name="weight">2</value>
		</param>
	</config>


	<permissions default="_NO_ACCESS_" logged="_SELF_WRITE_" />

	<load class="UserName" file="../arguments/username.class.php" />
	<load class="ArgAction" file="../arguments/argaction.class.php" />
	<load class="AlphaNum" file="../arguments/alphanum.class.php" />
	<load class="NumberArgument" file="../arguments/numberargument.class.php" />
	
	<load class="Annuaire" file="annuaire.class.php" />
	<load class="AnnuaireProfile" file="annuaireprofile.class.php" />
	<load class="ModifyProfile" file="modifyprofile.class.php" />
	<load class="GroupsDisplay" file="groupsdisplay.class.php" />
	<load class="GroupDisplay" file="groupdisplay.class.php" />
	<load class="GroupAdmin" file="groupadmin.class.php" />
	<load class="AnnuaireSearch" file="search.class.php" />

	<load class="AnnuaireMenu" file="annuairemenu.class.php" />

	<header app="header" view="default" />
	<footer app="footer" view="default" />
	
	<view name="default" class="Annuaire" template="default.tpl" />
	<view name="groups" class="GroupsDisplay" template="groups.tpl" />
	<view name="group" class="GroupDisplay" template="group.tpl" />
	<view name="groupadmin" class="GroupAdmin" template="groupadmin.tpl" />
	<view name="profile" class="AnnuaireProfile" template="profile.tpl" />
	<view name="editprofile" class="AnnuaireProfile" template="form.tpl" />
	<view name="search" class="AnnuaireSearch" template="search.tpl" />

	<view name="menu" class="AnnuaireMenu" template="menu.tpl" />

	<page view="default" />

	<page view="editprofile">
		<argument name="username" class="UserName" />
		<argument name="act" class="ArgAction" />
	</page>
	<page view="profile">
		<argument name="username" class="UserName" />
	</page>
	<page name="groups" view="groups" />
	<page name="group" view="group">
		<argument name="pname" class="AlphaNum" />
	</page>
	<page name="search" view="search" />
	
	<page name="groupid" view="group">
		<argument name="id" class="NumberArgument" />
	</page>
	
	<page name="groupadmin" view="groupadmin">
		<argument name="id" class="NumberArgument" />
	</page>
	
	<form action="modifyprofile" class="ModifyProfile">
		<redirect page="" />
	</form>
</app>
