
.thumbnail {
	float: left;
	margin: 10px;
	padding: 10px;
	border: 1px solid #444;
	width: 150px;
	height: 200px;
}
.thumbnail img {
	max-width: 150px;
	max-height: 180px;
}

.thumbtitle {
	margin-top: 5px;
	font-size: 0.8em;
	color: #444;
	text-align: center;
}

.largefieldset {
	border: 1px #aaa solid;
	margin: 10px;
	padding: 10px;
	background-color: #fafafa;
}

.largefieldset label {
	float: left;
	width: 250px;
}

.largefieldset input {
	float: left;
	width: 300px;
	border: 1px solid #666;
	padding: 1px 2px 1px 2px;
}
.largefieldset textarea {
	float: left;
	width: 300px;
	border: 1px solid #666;
	padding: 1px 2px 1px 2px;
	height: 50px;
}
.largefieldset select {
	float: left;
	width: 300px;
}
.largefieldset .checkbox {
	width: 15px;
}
.largefieldset .button {
	width: 100px;
}
