
.unread {
	font-weight: bold;
}

.deleted {
	text-decoration: line-through;
}

.headbox {
	margin: 10px;
	padding: 10px;
	background-color: #fafafa;
	border: 1px solid #999;
}

.headbox label {
	float: left;
	width: 150px;
}
.headbox input {
	float: left;
	width: 550px;
	border: 1px solid #999;
}
.headbox select {
	float: left;
	width: 550px;
	border: 1px solid #999;
}
.headbox .button {
	float: left;
	width: 120px;
	border: 1px solid #999;
	background-color: #eee;
}

.bodybox {
	margin: 10px;
	padding: 10px;
	background-color: #fefefe;
	border: 1px solid #999;
}
.bodybox textarea {
	width: 700px;
	height: 450px;
	border: 1px solid #999;
}

.attachbox {
	float: left;
	margin: 10px;
	padding: 10px;
	background-color: #fafafa;
	border: 1px solid #999;
}
